USE [master]
GO
/****** Object:  Database [AircraftTracker]    Script Date: 7/25/2022 8:18:35 PM ******/
CREATE DATABASE [AircraftTracker]
GO

USE [AircraftTracker]
GO
/****** Object:  Table [dbo].[AircraftInformation]    Script Date: 7/25/2022 8:18:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AircraftInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Make] [varchar](128) NULL,
	[Model] [varchar](128) NULL,
	[Registration] [varchar](8) NULL,
	[Location] [varchar](255) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[AircraftImage] [nvarchar](max) NULL,
	[SpottedOn] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AircraftInformation] ON 

SET IDENTITY_INSERT [dbo].[AircraftInformation] OFF
USE [master]
GO
